<div class="home-header">
    <div class="container header-container">
        <h1 class="title">Welcome Anglers!</h1>
        <p class="page-description">We'll keep track of the fish you catch and how you catch them. Now you don't have to remember what worked last time.</p>
    </div>
</div>

<div class="container main-container">
    <a href="/new-catch" class="log-link btn">Log A Catch</a>
    <a href="/view-caught-fish" class="view-link btn">View Caught Fish</a>
</div>

<div class="view-display">
    {{#if fish}}
    <h2>Recently Caught</h2>
    {{/if}}
    <div class="fish-container">
        {{#each fish}}
        <div class="info-card">
            <h4>Caught on {{date_caught}}</h4>
            <h4>Caught by {{angler_name}}</h4>
            <p class="info-card-body">Fish Caught: {{fish}} || Location: {{location}} || Lure: {{lure}}</p>
        </div>
        {{/each}}
    </div>
</div>

<script src="./assets/js/script.js"></script>